/* Inserta tu código aquí */


/*-----------------------------------HEADER------------*/
header{
    background:  rgb(218,44,56);
}
header .navbar {
    background-color: rgb(218,44,56);!important
}

. navbar-header .navbar-brand a{
    color:yellow;!important
}

header .navbar{
    margin: 0;!important
}
header .menu  ul {
    float: right;
}

/*----------------------------------PORTADA------------*/
.portada{
    background: url(../img/creamy.jpg);
    background-size:cover;
   background-position: center;
    
}

.portada .box{
    margin: 200px 0;
    color: rgb(244,240,187);
}

.fondo-plomo{
    background:rgb(67,69,67);
    opacity: 0.7;
}

.box h2 {
    font-family: "Merriweather";
}

.box p {
    font-family: "Open Sans";
}

/*-----------------------------------CREAMY------------*/
.creamy{
    background: rgb(244,240,187);
    text-align: center;
    color: rgb(218,44,56);
    padding: 30px 0;
}

h3{
    font-family: "Open+Sans";
}
/*-----------------------------------ABOUT------------*/
.about{
    background: rgb(218,44,56);
    text-align: center;
    color:  rgb(244,240,187);
    padding: 40px 10px;
}

/*-----------------------------------ICONOS------------*/
.iconos{
    background: rgb(244,240,187);
    text-align: center;
    color: rgb(218,44,56);
    padding: 50px 0;
}

.icon-container i{
    font-size: 60px;
}
/*----------------------------------FOOTER-----------*/
footer{
    background: rgb(218,44,56);
    color: rgb(244,240,187);
    padding: 20px 20px;
}

/*---------------------------------MEDIA-----------*/
@media screen and (max-width:999px)and(min-width:768px){
    footer .txt{
        margin: 40px;
    }
}